.message {
  padding: 2px 8px;
  border-radius: 4px;
  margin-bottom: 10px;
}

.message-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.error {
  background-color: #d41c0f;
  color: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.error p {
  font-weight: bold;
}

.close-icon {
  background-color: #ff5733;
  border: none;
  color: white;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.close-icon:hover {
  background-color: #e95f50;
}
